.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header_left{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header_middle{
    display: flex;
    align-items: center; 
    width: fit-content;
}

.header_right{
    display: flex;
    align-items: center; 
    gap: 1rem;
}

.browser{
    width: 25rem;
    margin-bottom: -1.5rem;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
}

.profile_picture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.side{
    background-color: #f0869bdc;
    display: flex;
    padding: 1rem;
    width: 20%;
}

.main{
    padding: 1rem;
}

.filter{
    width: 100%;
}

.container{
    height: 100%;
}

.projects-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}