<div class="dialog">
    <h1 mat-dialog-title>
        {{ project ? 'Modificar proyecto' : 'Crear proyecto' }}
    </h1>

    <div mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="create()" class="form-container">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Titulo</mat-label>
            <input matInput formControlName="title"/>
        </mat-form-field>

        <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="3"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
        <mat-label>Descripción detallada</mat-label>
            <textarea matInput formControlName="detailedDescription" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="filtro">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="idCategory">
                @for (category of categories; track category) {
                    <mat-option [value]="category.id">{{category.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>URL Imagen</mat-label>
            <input matInput formControlName="image"/>
        </mat-form-field>

        <div class="actions-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                Aceptar
            </button>
            <button mat-raised-button color="primary" type="button" (click)="close()">
                Cancelar
            </button>
        </div>
    </form>
</div>