.card{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.content{
  display: flex;
  flex-direction: row;
  flex: 80 1 0;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.project-card {
  /* position: relative; */
  border-radius: 16px;
  padding: 1rem;
  /* display: grid; */
  /* grid-template-columns: 128px 1fr; */
  /* gap: 16px; */
  /* align-items: start; */
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  flex: 20 1 0;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 12px;

  &::after {
    text: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.5), transparent);
    animation: shimmer 1.2s infinite;
  }
}

.skeleton-img{ 
  width: 100%; 
  padding-top: 75%; 
}

.skeleton-title{ 
  height: 24px; 
  width: 70%; 
  border-radius: 8px; 
}

.skeleton-line{ 
  height: 14px; 
  margin-top: 8px; 
  border-radius: 6px; 
}

.skeleton-line.short{ 
  width: 60%; 
}

.text .title{ 
  margin-bottom: 8px; 
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text p{ 
  margin: 0; 
}

.bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bottom-text{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.bottom-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navigate{
  width: fit-content;
  height: fit-content;
}